.formcontainer {
  background-color: skyblue;
  padding: 10px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.create {
  background-color: darkblue;
  color: white;
  width: 33%;
  border: none;
  padding: 6px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.formcontainer input {
  padding: 6px;
  width: 30%;
}
